Repository teoPalomino/budget-lens-backend, pull requests merged in 2023-03, with the labels that each got.

#72 fix(receipts): renable receipt scanner and receipt api
  receipts/models.py
  receipts/tests.py
  utility/analyze_receipt.py
Labels: Bug Fix, refactor, tests

#79 fixed a quick bug where the request was sending the user id for the i…
  item/tests.py
  item/views.py
Labels: Bug Fix, refactor

#80 remove sendgrip token
  utility/sendEmail.py
Labels: Bug Fix, refactor

#75 Store electronic receipts in the app from my personal email by forwarding the receipts
  receipts/migrations/0017_alter_receipts_receipt_image.py
  receipts/models.py
  receipts/serializers.py
  receipts/tests.py
  receipts/urls.py
  receipts/views.py
  requirements.txt
  users/migrations/0002_userprofile_forwardingemail.py
  users/models.py
  users/serializers.py
  users/views.py
Labels: New BUD Feature, tests
